 Importe as bibliotecas que são necessários

In [20]:
import pandas as pd
import warnings
warnings.simplefilter("ignore")

 Pegando os arquivos excel, extraidos da b3, por ano. 
    Obs.:  O ano vigente precisa ser atualizado toda vez que for necessario atualizar, pois as informações seguem atualizando constatimente.

In [21]:
ano2021 =pd.read_excel("C:\\Users\Windows\Downloads\dados\movimentacao-2021-01-01-a-2021-12-31.xlsx")
ano2022 = pd.read_excel("C://Users/Windows/Downloads/dados/movimentacao-2022-01-01-a-2022-12-31.xlsx")
ano2023 = pd.read_excel("C://Users/Windows/Downloads/dados/movimentacao-2023-01-01-a-2023-03-17.xlsx")

Gerando um dataframe, juntnado as planilhas e refazendo os index

In [22]:
df = pd.concat([ano2021, ano2022, ano2023],axis=0, ignore_index=True, verify_integrity=True)

Gerando uma coluna nova, tirando o codigo da ação/fiis pelo texto

In [23]:
df["Codigo"] = df["Produto"].str.split(" ").str.get(0)

Pegando os codigos e tipos de investimento

In [24]:
list(df["Codigo"].drop_duplicates())

['NUBR33',
 'B3SA3',
 'MORC11',
 'MORE11',
 'IRDM11',
 'RAIZ4',
 'VRTA11',
 'VRTA13',
 'CDB',
 'CXCO11',
 'JSAF11',
 'RECR11',
 'HABT11',
 'CPFE3',
 'TAEE11',
 'CPLE6',
 'ITSA4',
 'CSMG3',
 'SANB11',
 'VRTA12',
 'BBSE3',
 'AURE3',
 'MRVE3',
 'Tesouro',
 'OIBR3',
 'TRPL4',
 'RBRP11',
 'HGLG11',
 'BTLG11',
 'HGBS11',
 'MORC12']

Foi feita a identificação de cada ativo e separado por classes | Necessário desenvolver um metodo para automatiza essa parte.

In [25]:
a= [ 'B3SA3',
 'RAIZ4',
 'CPFE3',
 'TAEE11',
 'CPLE6',
 'ITSA4',
 'CSMG3',
 'SANB11',
 'BBSE3',
 'AURE3',
 'MRVE3',
 'OIBR3',
 'TRPL4',]
b = ['NUBR33']
f= [ 'MORC11',
 'MORE11',
 'IRDM11',
 'VRTA11',
 'VRTA13',
 'CXCO11',
 'JSAF11',
 'RECR11',
 'HABT11',
 'VRTA12',
 'RBRP11',
 'HGLG11',
 'BTLG11',
 'HGBS11',
 'MORC12']
t= ['Tesouro']
c=["CDB"]

Quantidade de cada ativo já movimentado no decorrer dos anos.

In [26]:
len(a),len(t),len(c),len(f),len(b)

(13, 1, 1, 15, 1)

Lendo os tipos de movimentações realizadas.

In [27]:
list(df["Movimentação"].drop_duplicates())

['Transferência - Liquidação',
 'Dividendo',
 'Rendimento',
 'COMPRA / VENDA',
 'Transferência',
 'Atualização',
 'Juros Sobre Capital Próprio',
 'Direitos de Subscrição - Não Exercido',
 'Recibo de Subscrição',
 'Cessão de Direitos - Solicitada',
 'Solicitação de Subscrição',
 'Cessão de Direitos',
 'Direito de Subscrição',
 'Venda',
 'Compra',
 'VENCIMENTO',
 'Grupamento']

Criando dataframe so com informações de investimento  e rendimento

In [28]:
df_inv = df[(df["Movimentação"]== 'Transferência - Liquidação') | (df["Movimentação"]== 'Transferência')]

In [29]:
df_rend = df[(df["Movimentação"] =='Dividendo') | (df["Movimentação"] =='Rendimento') | (df["Movimentação"] == 'Juros Sobre Capital Próprio')]

In [30]:
ações =df["Codigo"].isin(a)
fiss=df["Codigo"].isin(f)
tesouro=df["Codigo"].isin(t)
bdr=df["Codigo"].isin(b)

In [31]:
df.shape[0]

145

In [32]:
df[ações].shape[0]

35

In [33]:
df[fiss].shape[0]

83

In [34]:
df[tesouro].shape[0]

21

In [35]:
df[bdr].shape[0]

2

Tipos de dados no nosso dataframe

In [36]:
df.dtypes

Entrada/Saída         object
Data                  object
Movimentação          object
Produto               object
Instituição           object
Quantidade           float64
Preço unitário        object
Valor da Operação     object
Codigo                object
dtype: object

In [38]:
df = df.replace('-', '0')

In [41]:
df["Valor da Operação"] = df["Valor da Operação"].astype(float)

In [48]:
df["Preço unitário"] = df["Preço unitário"].astype(float)

In [49]:
df.dtypes

Entrada/Saída         object
Data                  object
Movimentação          object
Produto               object
Instituição           object
Quantidade           float64
Preço unitário       float64
Valor da Operação    float64
Codigo                object
Preço unitario       float64
dtype: object

,Entrada/Saída,Data,Movimentação,Produto,Instituição,Quantidade,Preço unitário,Valor da Operação,Codigo
0,Credito,10/12/2021,Transferência - Liquidação,NUBR33 - NU HOLDINGS LTD.,NU INVEST CORRETORA DE VALORES S.A.,3.0,8.36,25.08,NUBR33
1,Credito,29/12/2022,Dividendo,B3SA3 - B3,INTER DISTRIBUIDORA DE TITULOS E VALORES MOBIL...,112.0,0.02,2.71,B3SA3
2,Credito,26/12/2022,Rendimento,MORC11 - MORE RECEBIVEIS IMOBILIARIOS FII - FII,INTER DISTRIBUIDORA DE TITULOS E VALORES MOBIL...,17.0,1.1,18.7,MORC11
3,Credito,20/12/2022,Rendimento,MORE11 - MORE REAL ESTATE FOF FII FII,INTER DISTRIBUIDORA DE TITULOS E VALORES MOBIL...,1.0,0.6,0.6,MORE11
4,Credito,16/12/2022,Rendimento,IRDM11 - FII IRIDIUM RECEBIVEIS IMOBILIARIOS,INTER DISTRIBUIDORA DE TITULOS E VALORES MOBIL...,16.0,0.7,11.22,IRDM11
...,...,...,...,...,...,...,...,...,...
140,Credito,13/01/2023,Rendimento,RECR11 - FDO INV IMOB - FII UBS (BR) RECEB IMOB,INTER DISTRIBUIDORA DE TITULOS E VALORES MOBIL...,6.0,0.92,5.54,RECR11
141,Credito,13/01/2023,Rendimento,VRTA11 - FATOR VERITA FUNDO DE INVESTIMENTO IM...,INTER DISTRIBUIDORA DE TITULOS E VALORES MOBIL...,12.0,0.9,10.8,VRTA11
142,Credito,12/01/2023,Rendimento,HABT11 - HABITAT II - FUNDO DE INVESTIMENTO IM...,INTER DISTRIBUIDORA DE TITULOS E VALORES MOBIL...,6.0,1.17,7.02,HABT11
143,Credito,10/01/2023,Grupamento,OIBR3 - OI S.A,INTER DISTRIBUIDORA DE TITULOS E VALORES MOBIL...,10.0,-,-,OIBR3
144,Credito,02/01/2023,Juros Sobre Capital Próprio,ITSA4 - ITAUSA S/A,INTER DISTRIBUIDORA DE TITULOS E VALORES MOBIL...,25.0,0.02,0.5,ITSA4